<form [formGroup]="equationsFrom" novalidate (ngSubmit)="submit()">

<div class="equations">
<div>
  <mat-radio-group formControlName="func" aria-label="выберите уравнение" >
    <mat-radio-button value="1" (click)="onRadioChange(1)">-2,7x<sup>3</sup>-1,48x<sup>2</sup>+19,23x+6,35</mat-radio-button>
    <br>
    <mat-radio-button value="2" (click)="onRadioChange(2)">x<sup>3</sup>-x+4</mat-radio-button>
    <br>
    <mat-radio-button value="3" (click)="onRadioChange(3)">5log<sub>10</sub>(x+2)-3</mat-radio-button>
  </mat-radio-group>
</div>
<div>
  <mat-radio-group formControlName="method" aria-label="выберите метод решения уравнения" >
    <mat-radio-button value="1">Метод половинного деления</mat-radio-button>
    <br>
    <mat-radio-button value="2">Метод Ньютона</mat-radio-button>
    <br>
    <mat-radio-button value="3">Метод простой итерации</mat-radio-button>
  </mat-radio-group>
</div>
</div>
<div>
  <br>
  <div>
    <p-inputGroupAddon>
      начало интервала
    </p-inputGroupAddon>
    <input name="firstBoundaryOfInterval" type="text" pInputText formControlName="firstBoundaryOfInterval"  />
    <div *ngIf="equationsFrom.controls['firstBoundaryOfInterval'].invalid && equationsFrom.controls['firstBoundaryOfInterval'].touched">
      <div class="alert">начало интервала is required</div>
    </div>
  </div>
  <br>
  <div>
    <p-inputGroupAddon>
      конец интервала
    </p-inputGroupAddon>
    <input type="text" pInputText name="secondBoundaryOfInterval" formControlName="secondBoundaryOfInterval"  />
    <div *ngIf="equationsFrom.controls['secondBoundaryOfInterval'].invalid && equationsFrom.controls['secondBoundaryOfInterval'].touched">
      <div class="alert">конец интервала is required</div>
    </div>
  </div>
  <br>
  <div>
    <p-inputGroupAddon>
      погрешность
    </p-inputGroupAddon>
    <input type="text" pInputText name="inaccuracy" formControlName="inaccuracy"  />
    <div *ngIf="equationsFrom.controls['inaccuracy'].invalid && equationsFrom.controls['inaccuracy'].touched">
      <div class="alert">inaccuracy is required and <=0.1</div>
    </div>
  </div>
  <br>
  <p-button type="submit" [disabled]="equationsFrom.invalid">попытаться найти корень</p-button>
</div>
</form>
<br>

