
.math{
  display: flex;
  justify-content: space-around;
  flex-wrap:  wrap;
  flex-direction: row;
}
.sys{
  /*flex-grow: 1;*/
  width: 500px
}
.graph{
  display: flex;
  justify-content: center;

}
.forms{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap:  wrap;

}

