<app-header/>
<!--<div class="contic-app">-->
<!--<app-cam></app-cam>-->
<div class="math">
<!--  <div class="graph">-->
<!--  </div>-->
<!--  <div class="forms">-->
    <app-equation #equationComponent (choseEvent)="graphComponent.drawline($event)"></app-equation>
  <app-graph #graphComponent></app-graph>

  <app-system (choseEvent)="graphComponent.drawline($event)" class="sys"></app-system>
  <app-filik (choseEvent)="graphComponent.drawline($event)"></app-filik>
<!--  </div>-->
</div>
<!--</div>-->
